.vscode/
.idea
**/.DS_Store
#scripts/demorunner.sh
kind-with-registry.sh
temp/
**/.imgpkg/images.yml
**/*lock.yml
vendir/
pkg-repos/*/*/packages/*/metadata.yml
pkg-repos/lg/0.0.1/packages/lg-hello-app.corp.com/*.yml
